@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}

.bodyHome {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "banner" "sectionInfo" "nuevo" "newProducts" "footer";
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

/*------------------Header------------------- */
#header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  border-bottom: 5px solid #282d32;
}

#header .nav-link {
  font-size: 19px;
}

#header .navbar-nav {
  margin-left: 10%;
}

#header .header__titulo {
  text-decoration: none;
  font-size: 28px;
  color: #f0f9ff;
}

#header .header__letra {
  color: #71231f;
  font-weight: bold;
}

.dropdown-menu {
  background-color: #282d32;
  border-color: #282d32;
}

.dropdown-item {
  color: #f0f9ff;
}

.bg-color {
  background-color: #282d32;
}

/*------------------Banner------------------- */
#banner {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: banner;
  position: relative;
  margin-top: 80px;
}

.carousel-item__img {
  -o-object-fit: cover;
     object-fit: cover;
}

/*------------------Envios y Pagos------------------- */
#sectionInfo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sectionInfo;
}

.card-info {
  border: none;
  background-color: rgba(40, 40, 40, 0.03);
}

.card-info .card-info__body {
  color: #343a40;
}

.card-info .imgSvg {
  width: 20%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*------------------Novedades------------------- */
#nuevo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: nuevo;
}

#nuevo .nuevo__titulo {
  color: #343a40;
  text-align: center;
  margin-top: 30px;
  font-size: 27px;
}

#nuevo .nuevo__subtitulo {
  color: #717070;
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

.clear {
  clear: both;
}

/*------------------Footer------------------- */
#seccion-contacts {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#282d32));
  background: linear-gradient(to bottom, #ffffff, #282d32);
  top: 0;
  grid-area: seccionContacts;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 10px solid #ffffff;
  border-bottom: 10px solid #282d32;
}

#seccion-contacts .contacts, #seccion-contacts .contacts__iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bgFooter {
  background-color: #282d32;
}

.footer__informacion .footer__informacion--contactos {
  color: #f0f9ff;
  font-size: 22px;
}

.footer__informacion .footer__informacion--list {
  color: #f0f9ff;
  list-style-type: none;
}

.footer__informacion span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.footer__box--redes .fa-whatsapp, .footer__box--redes .fa-facebook-f {
  color: #f0f9ff;
}

.footer__box--redes a {
  text-decoration: none;
  background-color: transparent;
}

.footer__box--diseñador {
  color: #f0f9ff;
}

.footer__horarios .footer__horarios--title {
  color: #f0f9ff;
  font-size: 22px;
}

.footer__horarios .footer__horarios--list {
  list-style-type: none;
  color: #f0f9ff;
  font-size: 14.5px;
}

/*------------------Seccion Productos------------------- */
.bodyProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*---------Carousel------ */
#carousel-marcas .carousel__texto {
  font-size: 22px;
}

#carousel-marcas .carousel__titulo {
  color: #5e7f8a;
  text-align: center;
  font-size: 27px;
  margin-top: 70px;
}

#carousel-marcas .carousel__imagen {
  -o-object-fit: cover;
     object-fit: cover;
}

/*---------Productos------ */
#section-products {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: newProducts;
}

#section-products .section-products__imagenes {
  -o-object-fit: cover;
     object-fit: cover;
}

#section-products .card__sombra {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#section-products h3 {
  text-align: center;
  font-size: 40px;
  color: #5e7f8a;
  text-transform: uppercase;
}

#section-products .btn-primary {
  color: #f0f9ff;
  background-color: #282d32;
  border-color: #282d32;
}

/*------------------Seccion ABOUT US------------------- */
.bodyAbout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#section-info-about .card__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: none;
}

#section-info-about .card__about--body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-info-about h1 {
  text-align: center;
  font-size: 50px;
  color: #5e7f8a;
  text-transform: uppercase;
  margin-top: 4%;
}

#section-info-about .section-info-about__imagen {
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

#section-info-about .section-info-about__texto {
  color: #3d3636;
  text-align: center;
  font-size: 25px;
}

/*------------------Mobile first------------------- */
@media all and (max-width: 1024px) {
  .bodyHome {
        grid-template-areas: "header" "banner" "sectionInfo" "nuevo" "newProducts" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  #banner {
    margin-top: 107px;
  }
  #banner .carousel-item {
    height: auto;
  }
  #carousel-marcas .carousel__titulo {
    margin-top: 105px;
  }
  #section-info-about h1 {
    margin-top: 110px;
  }
  #section-info-about .card__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section-info-about .section-info-about__imagen {
    width: auto;
  }
}

@media all and (max-width: 768px) {
  .bodyHome {
        grid-template-areas: "header" "banner" "sectionInfo" "nuevo" "newProducts" "footer";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #banner {
    max-width: none;
    margin-top: 64px;
  }
  #banner .carousel-item {
    height: auto;
  }
  #carousel-marcas .carousel__titulo {
    margin-top: 70px;
  }
  #section-info-about h1 {
    margin-top: 70px;
  }
  #section-info-about .section-info-about__imagen {
    width: auto;
  }
}

@media all and (max-width: 576px) {
  .bodyHome {
        grid-template-areas: "header" "banner" "sectionInfo" "nuevo" "newProducts" "footer";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #sectionInfo {
    width: 70%;
  }
}
/*# sourceMappingURL=estilos.css.map */