@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: $fontF;
    font-weight: $fontW;
	background-color: #ffffff;
}
.bodyHome{
	display: grid;
	grid-template-areas: $gridAreas;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}

/*------------------Header------------------- */
#header{
    grid-area: header;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    border-bottom: 5px solid $darkBlue;
    opacity: 92%;
    .nav-link{
        font-size: ($fontSize50/2)-6;
    }
    .navbar-nav{
        margin-left: 10%;
    }
    .header__titulo{
        text-decoration: none;
        font-size: ($fontSize50/2)+3;
        color: $fontColor;
    }
    .header__letra{
        color: #71231f;
        font-weight: bold;
    }
    .header__logo--img{
        width: 35px;
        margin-right: 10px;
    }
}
#nav-bar{
    .nav-link{
        color: $fontColor;
    }
}
#nav-bar ul li a:hover{
    @include nav-bar-animation;
}

.dropdown-menu{
    background-color: $darkBlue;
    border-color: $darkBlue;
}
.dropdown-item{
    color: $fontColor;
}
.dropdown-item:hover{
    @include nav-bar-animation
}
.bg-color{
    background-color: $darkBlue;
}
.nav-item.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: auto;
}
.modal-header{
    .modal-h3{
        font-weight: 400;
        color: #5e7f8a;
        text-transform: uppercase;
    }
}
.fa-window-close{
    color: $darkBlue;
}
.modal-body{
    .form-consulta{
        resize: none;
    }
    .info-modal{
        color: #516c75;
        font-weight: 400;
    }
}
.modal-footer{
    .btn-form{
        color: $fontColor;
        background-color: $darkBlue;
        border-color: $darkBlue;
        transform: scale(0.8);
        transition: all 1s;
    }
    .btn-formTwo{
        color: $fontColor;
        background-color: #5a7c9e;
        border-color:  #5a7c9e;
        transform: scale(0.8);
        transition: all 1s;
        
    }
}
.btn-form:hover, .btn-formTwo:hover{
    transform: scale(1);
    transition: all 1s;
}
.modal-header button:focus{
    outline: none;
}
.form-control:focus{
    border-color: #5e7f8a;
    box-shadow: 0 0 0 0.1rem #5e7f8a;
}
.modal-thanks{
    border-bottom: none;
}
.fa-grin-wink{
    color: #5e7f8a;
}
/*------------------Banner------------------- */
#banner{
	grid-area: banner;
	position: relative;
	margin-top: 80px;
}
.carousel-item__img{
	object-fit: cover;
}
.carousel-indicators li{
    width: 12px;
    height: 10px;
    border-radius: 100%;
}
/*------------------Envios y Pagos------------------- */
#sectionInfo{
	grid-area: sectionInfo;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.card-info{
        border: none;
        background-color: rgba(90, 90, 90, 0.05);
    .card-info__body{
        color: #343a40;
        .card-title{
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
    .imgSvg{
        width: 20%;
        object-fit: cover;
        margin: 15px auto 0;
    }
    .imgSvg:hover{
        transform: scale(1.2);
        transition: all 1s;
    }
}

/*------------------Novedades------------------- */
#nuevo{
	grid-area: nuevo;
    .nuevo__titulo{
        color: #343a40;
        text-align: center;
        margin-top: 30px;
        font-size: ($fontSize50/2)+5;
        font-weight: $fontW;
    }

    .nuevo__subtitulo{
        color: #717070;
        text-align: center;
        margin-top: 10px;
        font-size: ($fontSize50/5)+8;
        font-weight: $fontW;
    }
}
.clear{
	clear: both;
}

/*------------------Footer------------------- */
.footer{
    @include flexFooter;
}
.bgFooter{
    background-color: $darkBlue;
}
.footer__informacion{
    .footer__informacion--contactos{
        color: $fontColor;
        font-size: ($fontSize50/2)-3;
        font-weight: $fontW;
    }
    .footer__informacion--list{
        color: $fontColor;
        list-style-type: none;
    }
    a{
        font-family: $fontF;
        font-weight: $fontW;
        font-size: 14px;
        color: $fontColor;
        text-decoration: none;
    }
    a:hover, i:hover{
        color: #5a7c9e;
        transition: all 1s;
    }
}
.footer__box--redes{
    a{
        color: $fontColor;
        text-decoration: none;
        background-color: transparent;
    }
    a:hover{
        color: #5a7c9e;
        transform: scale(1.3);
        transition: all 1s;
    }
}
.footer__box--diseñador{
    color: $fontColor;
}
.footer__horarios{
    .footer__horarios--title{
        color: $fontColor;
        font-size: ($fontSize50/2)-3;
        font-weight: 300;
    }
    .footer__horarios--list{
        list-style-type: none;
        color: $fontColor;
        font-size: ($fontSize50/4)+2;
    }
}
/*------------------Seccion Productos------------------- */
.bodyProductos{
    display: $flex;
    flex-direction: $flexColumn;
}
/*---------Carousel------ */
#carousel-marcas{
    margin-top: 80px;
    .carousel__texto{
        font-size: ($fontSize50/2)-3;
    }
    .carousel__titulo{
        color: #5e7f8a;
        text-align: center;
        font-size: ($fontSize50/2)+2;
        margin-top: 70px;
        font-weight: 500;
    }
    .carousel__imagen{
        object-fit: cover;
    }
}

/*---------Productos------ */
#section-products{
    grid-area: newProducts;
    .card__sombra{
        box-shadow: .7rem .7rem 1rem rgba(0,70,130,.20);
    }
    .card-deck{
        display: $flex;
        flex-direction: $flexRow;
        justify-content: center;
        align-items: center;
    }
    .card-title{
        font-weight: $fontW;
    }
    h3{
        text-align: center;
        font-size: $fontSize50 - 10;
        font-weight: $fontW;
        color: #5e7f8a;
        text-transform: uppercase;
    } 
    .btn-product{
        color: $fontColor;
        background-color: $darkBlue;
        border-color: $darkBlue;
    }
    .btn-product:hover{
        color: $fontColor;
        background-color: #5a7c9e;
        border-color: #5a7c9e;
        transform: scale(1.1);
        transition: all 1s;
    }
}

/*------------------Seccion ABOUT US------------------- */
.bodyAbout{
    display: $flex;
    flex-direction: $flexColumn;
}
#section-info-about{
    .card__about{
        @include card-about;
    }
    .card__about--images{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .card__about--body{
        display: $flex;
        flex-direction: $flexColumn;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    h1{
        @include h1-about;
    }
    .section-info-about__imagen{
        width: auto;
        height: auto;
        object-fit: contain;
        transform: scale(0.8);
        transition: all 1s;
    }
    .iframeAbout{
        transform: scale(0.8);
        transition: all 1s;
    }
    .section-info-about__texto{
        color: #3d3636;
        text-align: center;
        font-size: $fontSize50/2;
        font-weight: $fontW;
    }
    .section-info-about__title{
        color: #638590;
        font-size: 2.5rem;
        font-weight: $fontW;
        margin-top: 150px;
    }
    .section-info-about__imagen:hover, .iframeAbout:hover{
        transform: scale(1);
        transition: all 1s;
    }
}
/*------------------Mobile first------------------- */
@media all and (max-width: 1370px){
    #section-info-about{
        .card__about{
            flex-direction: column-reverse;
        }
        .card__about--images{
            display: flex;
            flex-direction: column;
        }
    }
}
@media all and (max-width: 1024px){
	.bodyHome{
	grid-template-areas: $gridAreas;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	} 
    #header{
        .nav-link{
            font-size: 16px;
        }
        .header__titulo{
            font-size: 21px;
        }
    }
    #banner{
        margin-top: 107px;
        .carousel-item{
            height: auto;
        }
    }
        .section-info-about__imagen{
            width: auto;
        }
}
@media only screen and (min-width: 1026px) and (max-width: 1160px){
    #banner, #carousel-marcas{
        margin-top: 120px;
    }
}
@media all and (max-width: 768px){
	.bodyHome{
	grid-template-areas: $gridAreas;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	} 
    #banner{
        margin-top: 74px;
        .carousel-item{
            height: auto;
        }
    }
    #carousel-marcas{
        .carousel__titulo{
            margin-top: 70px;
        }
    }
        .section-info-about__imagen{
            width: auto;
        }
}
@media all and (max-width: 576px){
    .bodyHome{
        grid-template-areas: $gridAreas;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        } 
    #header{
        opacity: 100%;
        .header__titulo{
            display: none;
        }
    }
    #section-products{
        .card__sombra{
            margin-top: 20px;
        }
        .card-deck{
            display: flex;
            flex-direction: column;
        }
    }
    .footer{
        flex-direction: column;
        .footer__informacion{
            margin-bottom: 20px;
            border-bottom: 1px solid #434a52;
        }
        .footer__box{
            margin-bottom: 20px;
            border-bottom: 1px solid #434a52;
        }
    }
    #section-info-about{
        .card__about{
            justify-content: center;
        }
        .section-info-about__imagen{
            width: 100%;
        }
        .iframeAbout{
            width: 100%;
        }
        h1{
            font-size: 40px;
        }
        .section-info-about__texto{
            font-size: 20px;
        }
    }
}